<footer class="footer">
    
    <nav class="footer_nav">
        <ul>
            <li>
                <a class="footer_link" href="https://adalab.es/">zapatilas</a>
            </li>
            <li>
                <a class="footer_link" href="https://adalab.es/">ropa</a>
            </li>
            <li>
                <a class="footer_link" href="https://adalab.es/">niño/niña</a>
            </li>
            <li>
                <a class="footer_link" href="https://adalab.es/">destacados</a>
            </li>
            <li>
                <a class="footer_link" href="https://adalab.es/">tips</a>
            </li>
        </ul>
    </nav>

    <nav class="footer_nav">
        <ul>
            <li>
                <a class="footer_link" href="https://adalab.es/">twitter</a>
            </li>
            <li>
                <a class="footer_link" href="https://adalab.es/">instagram</a>
            </li>
            <li>
                <a class="footer_link" href="https://adalab.es/">youtube</a>
            </li>
        </ul>
   </nav>

    <div class="footer_copy">
        <small>&copy 2023</small>
        <small>we ❤︎ run</small>
    </div>
   
</footer>