<footer class="footer">
  <nav class="footer_nav">
    <ul>
      <li>
        <a class="footer_link" href="https://adalab.es/">Zapatillas</a>
      </li>
      <li>
        <a class="footer_link" href="https://adalab.es/">Ropa</a>
      </li>
      <li>
        <a class="footer_link" href="https://adalab.es/">Niño/niña</a>
      </li>
      <li>
        <a class="footer_link" href="https://adalab.es/">Destacados</a>
      </li>
      <li>
        <a class="footer_link" href="https://adalab.es/">Tips</a>
      </li>
    </ul>
  </nav>

  <nav class="footer_nav">
    <ul>
      <li>
        <a class="footer_link" href="https://adalab.es/">Twitter</a>
      </li>
      <li>
        <a class="footer_link" href="https://adalab.es/">Instagram</a>
      </li>
      <li>
        <a class="footer_link" href="https://adalab.es/">Youtube</a>
      </li>
    </ul>
  </nav>

  <section class="footer_copy">
    <div>&copy 2023</div>
    <div>we 🧡 run</div>
  </section>
</footer>
