<main class="main">

    <section class="section1">
        <p class="section1_small">Los sentimientos nos inspiran</p>
        <h2 class="section1_title1">Conecta Contigo</h2>
        <p class="section1_text1"> Esto es una celebración de todo lo que nos mueve. Del poder de elegir y de la libertad de ser. Rendirnos homenaje al hermoso caos del movimiento y a la plena consciencia que tan bien nos hacen sentir.</p>
        <button onclick="location.href='https://adalab.es/'" class="section1_botton">Comprar</button>
    </section>

    <section class="section2" id="section2">
        <h3 class="section2_title">Año nuevo, movimientos nuevos</h3>
        <article class="section2_article1">
            <h4 class="section2_title2">Entrenamientos</h4>
            <p class="section2_text">Sesiones de running y entrenamientos</p>
        </article>

        <article class="section2_article2">
            <h4 class="section2_title2">Cualquier nivel</h4>
            <p class="section2_text">Entrenamientos para cada nivel</p>
        </article>

        <article class="section2_article3">
            <h4 class="section2_title2">Exclusividad</h4>
            <p class="section2_text">Productos para miembros premium</p>
        </article>
    
        <div class="section2_div">
            <button onclick="location.href='https://adalab.es/'" class="section2_main_botton2">Empezar ahora</button>
        </div>

    </section>

</main>