// Esta es la variable que usaremos como tamaño por defecto
$defaultFontSize: 16;

// Estos son los tamaños para las media-queries

$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

// fonts
// $font-main: 'Roboto', sans-serif;

// colors
// $color-text: #000;
// $color-title: #000;
// $color-background: #999;

$background-orange: #f26002;
$background-white: #ffffff;
$color-text:#ffffff;
$font-main-title: 'Roboto Slab', serif;
$foont-main-text: 'Roboto', sans-serif;
$color-text-section1: #4a4a4a;
$background-color-main: #f2f2f2;
