
$background-orange: #f26002;
$background-white: #ffffff;
$font-main-title: 'Roboto Slab', serif;
$foont-main-text: 'Roboto', sans-serif;
$color-text-section1: #4a4a4a;
$background-color-main: #f2f2f2;
$background-color-footer: #4a4a4a;
$color-text-black:black;
